<%-include('./partials/header') %> 
    <!-- welcom box -->
    <div class="jumbotron p-5 m-5">
        <h1 class="display-4 text-primary">Google Reviews App</h1>
        <p class="lead">View aa  your Website Reviews just by entering location url adddress</p>
        <hr class="my-4">
        <p>Google reviews provide  sfksfksuseful information and help your business stand out. Reviews show up next to your Business Profile in Maps and Search.</p>
        <p class="lead">
          <a class="btn btn-primary btn-primary btn-lg" href="/reviews" role="button">View Reviews</a>
        </p>
      </div>
<%-include('./partials/footer') %> 